/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "global_vars";

body {
  font: $TXT_BODY;
  background-color: $PAL_BLACK;
}

.title {
  font : $TXT_HEAD;
}
